
<h3> <%= @word %> </h3>
<% @definitions.each_key do |value| %>
  <p><%= value %></p>
<% end %>

<a href="/delete/<%=@word%>">Delete this word forever</a>
<a href="/update/<%=@word%>">Update this word</a>
<a href="/home">Return to the amazing homepage</a>
